<!doctype html>
<html lang="ko">
<head>

    <!-- Webpage Title -->
    <title> Miracle Mornig Diary </title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <!-- 구글폰트 -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap" rel="stylesheet">

    <style type="text/css">
        * {
            font-family: 'Yeon Sung', cursive;
        }

        .wrap {
            width: 600px;
            margin: auto;
        }

        h1, h5 {
            display: inline;
        }

        .img {
            background-image: url('https://mindgil.com/editor/cheditor_5/attach/20190904092942_tvwlmulq.jpg');
            background-size: cover;
            background-position: center;
            width: 300px;
            height: 200px;
        }


        #post-box {
            width: 500px;
            margin: 20px auto;
            padding: 20px;
            border: #b4b6b6 solid;
            border-radius: 5px;
        }
        /*.form-check{*/
        /*    font-size: 20px;*/
        /*}*/
    </style>

    <script>

        $(document).ready(function () {
            $("#cards-box").html("");
            show_affirmation();
        });

        function openclose_affirmation() {
            // id 값 post-box의 display 값이 block 이면(= 눈에 보이면)
            if ($("#post-box").css("display") == "block") {
                // post-box를 가리고
                $("#post-box").hide();
                // 다시 버튼을 클릭하면, 박스 열기를 할 수 있게 텍스트 바꿔두기
                $("#btn-post-box").text("목표 추가하기");
            } else {
                // 아니면(눈에 보이지 않으면) post-box를 펴라
                $("#post-box").show();
                // 다시 버튼을 클릭하면, 박스 닫기를 할 수 있게 텍스트 바꿔두기
                $("#btn-post-box").text("닫기");
            }
        }

        function post_affirmation() {
            // 1. 화면에 입력어 있는 내용을 가져옵니다.
            let content = $("#post-contents").val();

            // // 2. 내용을 하나도 입력하지 않았을 경우 alert를 띄웁니다.
            // if (content == "") {
            //     alert("확신의 말을 입력해주세요");
            //     $("#post-contents").focus();
            //     return;
            // }

            // 3. POST /affirmation 에 저장(Create)을 요청합니다.
            $.ajax({
                type: "POST",
                url: "/api/affirmation",
                data: {content_give: content},
                success: function (response) {
                    if (response["result"] == "success") {
                        alert("포스팅 성공");
                        window.location.reload();
                    } else {
                        alert("서버 오류!")
                    }
                }
            })
        }

        function show_affirmation() {
            // 1. 리뷰 목록을 서버에 요청하기
            $.ajax({
                type: "GET",
                url: "/api/affirmation",
                data: {},
                success: function (response) {
                    let affirmations = response["affirmations"]
                    console.log(affirmations);
                    for (let i = 0; i < affirmations.length; i++) {
                        makecard_affirmation(affirmations[i]["content"])
                    }
                }
            })
        }


        function makecard_affirmation(content) {
            let tempHtml = `<div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    ${content}
                </label>
        </div>`;
            $("#cards-box").append(tempHtml);
        }

    </script>
</head>
<body>

<div class="wrap">
    <p>
    <h1 class="display-4"> Affirmations(확신의 말)&#127774;</h1> <br>
    <p>
    <div class="menu">
        <a class="btn btn-outline-primary" href="{{ url_for('get_silencepage') }}"> Silence<br>(침묵)</a>
        <a class="btn btn-secondary" href="{{ url_for('get_affirmationpage') }}">Affirmation<br>(확신의 말)</a>
        <a class="btn btn-outline-success" href="{{ url_for('get_visualizationpage') }}">Visualization<br>(시각화)</a>
        <a class="btn btn-outline-danger" href="{{ url_for('get_exercisepage') }}">Exercise<br>운동</a>
        <a class="btn btn-outline-warning" href="{{ url_for('get_readpage') }}"> Reading<br>(독서)</a>
        <a class="btn btn-outline-info" href="{{ url_for('get_scribingpage') }}">Scribing<br>(쓰기)</a>
    </div>

    <br>
    <h3>가장 중요한 확신의 말을 읽는다.</h3>
    <h4>성취 목표, 목표가 중요한 이유, 실행 방안과 시기를 되새기고 다짐한다.</h4>
    <br>
    <div class="img"></div>
    <br>
    <div class="wrap">
        <button onclick="openclose_affirmation()" id="btn-post-box" type="button" class="btn btn-secondary">목표 추가하기
        </button>

        <div id="post-box" class="form-post" style="display:none">
            <div>
                <div class="form-group">
                     <label for="post-contents"> <h4 style="font-weight:bold"> &#x1F4DA; 확신의 말 </h4></label>
                    <textarea id="post-contents" class="form-control" rows="4"></textarea>
                </div>
                <button type="button" class="btn btn-secondary" onclick="post_affirmation()">등록하기</button>
                <br>
            </div>
        </div>
        <div id="cards-box">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    나만의 웹페이지 만들기
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                <label class="form-check-label" for="flexCheckChecked">
                    영어회화 시작하기
                </label>
            </div>
        </div>
           <button onclick="" id="btn-save-list" type="button" class="btn btn-primary">저장하기
        </button>
    </div>

</div>

</body>
</html>