<!doctype html>
<html lang="ko">
<head>

    <!-- Webpage Title -->
    <title> Miracle Mornig Diary </title>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>


    <!-- 구글폰트 -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap" rel="stylesheet">

    <style type="text/css">
        * {
            font-family: 'Yeon Sung', cursive;
        }

        .wrap {
            width: 600px;
            margin: auto;
        }

        h1, h5 {
            display: inline;
        }

        .img {
            background-image: url('https://mindgil.com/editor/cheditor_5/attach/20190904092942_tvwlmulq.jpg');
            background-size: cover;
            background-position: center;
            width: 300px;
            height: 200px;
        }

        .comment {
            color: #0000ff;
            font-weight: bold;
        }

        #post-box {
            width: 300px;
            margin: 20px auto;
            padding: 50px;
            border: black solid;
            border-radius: 5px;
        }
    </style>

    <script>
        $(document).ready(function () {
            $("#cards-box").html("");
            show_silence_movie();
        });

        function openclose_silence() {
            // id 값 post-box의 display 값이 block 이면(= 눈에 보이면)
            if ($("#post-box").css("display") == "block") {
                // post-box를 가리고
                $("#post-box").hide();
                // 다시 버튼을 클릭하면, 박스 열기를 할 수 있게 텍스트 바꿔두기
                $("#btn-post-box").text("영상 추가하기");
            } else {
                // 아니면(눈에 보이지 않으면) post-box를 펴라
                $("#post-box").show();
                // 다시 버튼을 클릭하면, 박스 닫기를 할 수 있게 텍스트 바꿔두기
                $("#btn-post-box").text("닫기");
            }
        }

        function post_silence_movie() {
            // 1. 유저가 입력한 데이터를 #post-url과 #post-comment에서 가져오기
            let url = $("#post-url").val();
            let comment = $("#post-comment").val();

            // 2. memo에 POST 방식으로 메모 생성 요청하기
            $.ajax({
                type: "POST", // POST 방식으로 요청하겠다.
                url: "/api/silence", // /memo라는 url에 요청하겠다.
                data: {url_give: url, comment_give: comment}, // 데이터를 주는 방법
                success: function (response) { // 성공하면
                    if (response["result"] == "success") {
                        alert("포스팅 성공!");
                        // 3. 성공 시 페이지 새로고침하기
                        window.location.reload();
                    } else {
                        alert("서버 오류!")
                    }
                }
            })
        }

        function show_silence_movie() {
            $.ajax({
                type: "GET",
                url: "/api/silence",
                data: {},
                success: function (response) {
                    let silences = response["silences"];
                    console.log(silences);
                    for (let i = 0; i < silences.length; i++) {
                        makecard_silence(silences[i]["image"], silences[i]["url"], silences[i]["title"], silences[i]["desc"], silences[i]["comment"])
                    }
                }
            })
        }

        function delete_silence(url) {
            // 1. 서버에 1) POST 방식으로, 2) /api/delete 라는 url에, 3) name_give라는 이름으로 name을 전달합니다.
            // 참고) POST 방식이므로 data: {'name_give': name} 과 같은 양식이 되어야합니다!
            $.ajax({
                type: "POST",
                url: "/api/silence/delete",
                data: {url_give: url},
                success: function (response) {
                    if (response['result'] == 'success') {
                        // 2. '삭제 완료! 안녕!' 얼럿을 띄웁니다.
                        alert('삭제 완료!')
                    }
                }
            });
        }

        function makecard_silence(image, url, title, desc, comment) {
            let temp_html = `<div class="card">
                        <img class="card-img-top" src="${image}" alt="Card image cap">
                        <div class="card-body">
                        <a href="${url}" target="_blank" class="card-title">${title}</a>
                        <p class="card-text">${desc}</p>
                        <p class="card-text comment">${comment}</p>
                        <a href="#" class="card-link" onclick="delete_silence('${url}')">삭제하기</a>
                        </div>
                    </div>`;
            $("#cards-box").append(temp_html);
        }
    </script>
</head>
<body>

<div class="wrap">
    <p>
    <h1 class="display-4">Silence(침묵)&#127774;</h1> <br>
    <p>
    <div class="menu">
        <a class="btn btn-primary" href="{{ url_for('get_silencepage') }}"> Silence<br>(침묵)</a>
        <a class="btn btn-outline-secondary" href="{{ url_for('get_affirmationpage') }}">Affirmation<br>(확신의 말)</a>
        <a class="btn btn-outline-success" href="{{ url_for('get_visualizationpage') }}">Visualization<br>(시각화)</a>
        <a class="btn btn-outline-danger" href="{{ url_for('get_exercisepage') }}">Exercise<br>운동</a>
        <a class="btn btn-outline-warning" href="{{ url_for('get_readpage') }}"> Reading<br>(독서)</a>
        <a class="btn btn-outline-info" href="{{ url_for('get_scribingpage') }}">Scribing<br>(쓰기)</a>
    </div>
    <br>
    <h3>눈을 감은 채 고요하게 침묵의 시간을 즐긴다.</h3>
    <h4>이 시간은 산만한 생각을 잠재우고 오늘 하루에 집중하는 시간이다.</h4>
    <br>
    <div class="img"></div>
    <br>
    <div class="wrap">

        <button onclick="openclose_silence()" id="btn-post-box" type="button" class="btn btn-primary">영상 추가하기
        </button>


        <div id="post-box" class="form-post" style="display:none">
            <div>
                <div class="form-group">
                    <label for="post-url">영상 URL</label>
                    <input id="post-url" class="form-control" placeholder="">
                </div>
                <div class="form-group">
                    <label for="post-comment">코멘트</label>
                    <textarea id="post-comment" class="form-control" rows="2"></textarea>
                </div>
                <button type="button" class="btn btn-primary" onclick="post_silence_movie()">영상저장</button>
            </div>
        </div>
        <div id="cards-box" class="card-columns">
            <div class="card">
                <img class="card-img-top"
                     src="https://www.eurail.com/content/dam/images/eurail/Italy%20OCP%20Promo%20Block.adaptive.767.1535627244182.jpg"
                     alt="Card image cap">
                <div class="card-body">
                    <a href="#" class="card-title">여기 기사 제목이 들어가죠</a>
                    <p class="card-text">기사의 요약 내용이 들어갑니다. 동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라만세 무궁화 삼천리
                        화려강산...</p>
                    <p class="card-text comment">여기에 코멘트가 들어갑니다.</p>
                    <a href="#" class="card-link"
                       onclick="delete_silence('https://www.youtube.com/watch?v=VVc7X4lSO4w')">삭제</a>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top"
                     src="https://www.eurail.com/content/dam/images/eurail/Italy%20OCP%20Promo%20Block.adaptive.767.1535627244182.jpg"
                     alt="Card image cap">
                <div class="card-body">
                    <a href="#" class="card-title">여기 기사 제목이 들어가죠</a>
                    <p class="card-text">기사의 요약 내용이 들어갑니다. 동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라만세 무궁화 삼천리
                        화려강산...</p>
                    <p class="card-text comment">여기에 코멘트가 들어갑니다.</p>
                    <a href="#" class="card-link"
                       onclick="delete_silence('https://www.youtube.com/watch?v=VVc7X4lSO4w')">삭제</a>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top"
                     src="https://www.eurail.com/content/dam/images/eurail/Italy%20OCP%20Promo%20Block.adaptive.767.1535627244182.jpg"
                     alt="Card image cap">
                <div class="card-body">
                    <a href="#" class="card-title">여기 기사 제목이 들어가죠</a>
                    <p class="card-text">기사의 요약 내용이 들어갑니다. 동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라만세 무궁화 삼천리
                        화려강산...</p>
                    <p class="card-text comment">여기에 코멘트가 들어갑니다.</p>
                    <a href="#" class="card-link"
                       onclick="delete_silence('https://www.youtube.com/watch?v=VVc7X4lSO4w')">삭제</a>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top"
                     src="https://www.eurail.com/content/dam/images/eurail/Italy%20OCP%20Promo%20Block.adaptive.767.1535627244182.jpg"
                     alt="Card image cap">
                <div class="card-body">
                    <a href="#" class="card-title">여기 기사 제목이 들어가죠</a>
                    <p class="card-text">기사의 요약 내용이 들어갑니다. 동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라만세 무궁화 삼천리
                        화려강산...</p>
                    <p class="card-text comment">여기에 코멘트가 들어갑니다.</p>
                    <a href="#" class="card-link"
                       onclick="delete_silence('https://www.youtube.com/watch?v=VVc7X4lSO4w')">삭제</a>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top"
                     src="https://www.eurail.com/content/dam/images/eurail/Italy%20OCP%20Promo%20Block.adaptive.767.1535627244182.jpg"
                     alt="Card image cap">
                <div class="card-body">
                    <a href="#" class="card-title">여기 기사 제목이 들어가죠</a>
                    <p class="card-text">기사의 요약 내용이 들어갑니다. 동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라만세 무궁화 삼천리
                        화려강산...</p>
                    <p class="card-text comment">여기에 코멘트가 들어갑니다.</p
                    <a href="#" class="card-link"
                       onclick="delete_silence('https://www.youtube.com/watch?v=VVc7X4lSO4w')">삭제</a>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top"
                     src="https://www.eurail.com/content/dam/images/eurail/Italy%20OCP%20Promo%20Block.adaptive.767.1535627244182.jpg"
                     alt="Card image cap">
                <div class="card-body">
                    <a href="#" class="card-title">여기 기사 제목이 들어가죠</a>
                    <p class="card-text">기사의 요약 내용이 들어갑니다. 동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라만세 무궁화 삼천리
                        화려강산...</p>
                    <p class="card-text comment">여기에 코멘트가 들어갑니다.</p>
                    <a href="#" class="card-link"
                       onclick="delete_silence('https://www.youtube.com/watch?v=VVc7X4lSO4w')">삭제</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

